@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body{
    background: #F4F4F4;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    letter-spacing: 1px;
}

::selection {
    color: #f2f2f2;
    background: rgba(239, 211, 11, .8);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    /* background: #4e545f; */
}

::-webkit-scrollbar-thumb {
    background: rgba(239, 211, 11, .7);
}

::-webkit-scrollbar-thumb:hover {
    background: #e5be5c;
    width: 15px;
}

/* Navbar CSS */
.navbar {
    background: #dedfd9;
    height: 100px;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar_img {
    width: 300px;
    transition: 0.2s ease-in-out;
}

.navbar_img:hover {
    opacity: 0.8;
}

.img-span {
    border: 2px solid #e5be5c;
    padding: 5px 20px;
    border-radius: 30px;
    color: #e5be5c;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav_menu_icon {
    font-size: 50px;
    cursor: pointer;
    color: #e5be5c;
    margin-left: 10px;
}

.navbar_button {
    color: #1A1A19;
    background: #e5be5c;
    font-size: 25px;
    font-weight: 550;
    padding: 10px 20px;
    letter-spacing: 2px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar_button:hover {
    background-color: #1A1A19;
    color: #e5be5c;
}

.signout_button{
    color: #1A1A19;
    border:2px solid #d52d00;
    background: transparent;
    font-size: 25px;
    font-weight: 550;
    padding: 10px 20px;
    letter-spacing: 2px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.signout_button:hover{
    background: #d52d00;
    color: #F4F4F4;
}

.offcanvas_span{
    font-size: 40px;
    color: #e5be5c;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 3%;
}

.nav-link{
    color: #1A1A19;
    font-weight: 550;
    letter-spacing: 2px;
    font-size: 30px;
    transition: ease-in-out 0.3s;
    margin: 3%;
}

.nav-link:hover{
    color: #e5be5c;
}

.search_form {
    position: relative;
    width: 600px;
    background: #e5be5c;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.search_input {
    height: 50px;
    border: 0;
    color: #2f2f2f;
    font-size: 18px;
    width: 100%;
    background: #F4F4F4;
    padding: 0 16px;
    border-radius: 7px;
    outline: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
}

.search_input:focus {
    border-radius: 7px 0 0 7px;
    width: calc(100% - 60px);
}

.search_btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 50px;
    font-size: 20px;
    background: #e5be5c;
    color: #ffffff;
    letter-spacing: 2px;
    border: 0;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
}

.search_btn:hover {
    background: #d1a94b;
}

/* Modified Rule */
.search_input:not(:placeholder-shown):valid + .search_btn {
    display: block;
}

.search_label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Footer */
.footer{
    /* position: absolute;
    bottom: 0;
    left: 0;*/
    background: #dedfd9;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #ffffff;
}
  
.footer-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; 
    justify-content: center;
}
  
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer_img{
    width: 400px;
    border-radius: 15px;
}
  
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
  
.footer-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 3rem 0;
}
  
.footer-links li{
    margin: 0 20px;
    color: #F4F4F4;
}
  
.footer-links li:hover{
    color: #e5be5c;
}
  
.footer-bottom{
    background: #e5be5c;
    width: 100vw;
    padding: 2px 0;
    text-align: center;
}
  
.footer-bottom p{
    font-size: 1.2vw;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}
  
.footer-bottom span{
    text-transform: capitalize;
    opacity: .4;
    font-weight: 200;
}
  
.footer_link{
    font-size: 25px !important;
    color: #1A1A19 !important;
    /* color: #15B39D !important; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500 !important;
    transition: all 0.4s ease;
    display: inline-block;
    position: relative;
}   
  
.footer_link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e5be5c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.footer_link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #e5be5c !important;
    border-bottom: #e5be5c 2px solid !important;
}

/* Search Rides Page */
.search_page{
    height: auto;
    margin-bottom: 20%;
}

.search_data_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 10%;
}

.search_data_img img{
    width: 30%;
    border-radius: 15px;
    margin-top: 1%;
}

.search_data_img h3{
    text-align: center;
    color: #e5be5c;
}

.search_page_info{
    text-align: center;
    margin-top: 2%;
}

.search_page_info h2{
    color: #e5be5c;
}

.search_data_container{
    display: flex;
    justify-content: center;
    align-self: center;
}

.search_data{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    width: 80%;
}

.box{
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.box h4{
    text-align: center;
    font-size: 35px;
    color: #e5be5c;
}

.box p{
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.box span{
    font-weight: 500;
    font-size: 20px;
    color: #666;
}

.box_link{
    margin-top: 3%;
    color: #e5be5c;
    font-size: 20px;
    text-decoration: none;
    transition: .3s;
    text-align: center;
}

.box_link:hover{
    text-decoration: underline;
}

/* Ride Details */
.ride_info_container {
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.ride_info h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.ride_info span {
    color: #e5be5c;
}


.ride_details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
}


.ride_card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.ride_card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.ride_card h4 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    color: #e5be5c;
}

.ride_card p {
    font-size: 1.3rem;
    color: #666;
    margin: 0.3rem 0;
}

.ride_card span {
    font-weight: bold;
    font-size: 1.3rem;
    color: #333;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_route {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
}

.message_section{
    margin-bottom: 10%;
}

section h2{
    font-size: 50px;
    text-align: center;
    margin-top: 2%;
    color: #e5be5c;
    /* text-decoration: underline; */
}

.msg_buttons{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

.button_group{
    width: 60%;
}

.msg_button {
    font-size: 20px;
    background: #e5be5c;
    border: 2px solid #f4f4f4 !important;
    padding: 10px 20px;
    margin: 2px;
    border-radius: 5px !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.msg_button.active,
.msg_button:hover {
    background: #d1a94b;
}

/* Card Container */
.card_container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
}

.msg_card {
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.msg_card:hover {
    transform: scale(1.02);
}

.msg_card h3 {
    margin-bottom: 5px;
    font-size: 25px;
    color: #e5be5c;
}

.service {
    color: #1A1A19;
    font-size: 20px;
}

.message {
    font-size: 20px;
    color: #1A1A19;
    margin-top: 5px;
}

.card_footer {
    margin-top: 10px;
    font-size: 20px;
    color: #999;
}

.delete_button{
    font-size: 30px;
    display: flex;
    justify-content: right;
    padding: 10px;
    color: #1A1A19;
    transition: .5s ease-in-out;
}

.delete_button:hover{
    color: #d52d00;
    transform: scale(1.02);
}

/* Error and Loading Messages */
.loading-container,
.error-message,
.no-messages {
    text-align: center;
    font-size: 18px;
    color: #d9534f;
    margin-top: 20px;
}

/* Rides Page */
.input_date{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.input_date label{
    font-size: 25px;
    padding: 5px 10px;
    color: #e5be5c;
}

.input_date input{
    border: 2px solid #e5be5c;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    background: none;
}


/* Responsive Design */
@media (max-width: 768px) {
    .button_group {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .msg_button {
        width: 100%;
        text-align: center;
    }

    .card_container {
        flex-direction: column;
        align-items: center;
    }

    .msg_card {
        width: 90%;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .ride_info h3 {
        font-size: 1.8rem;
    }

    .ride_card {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .ride_info h3 {
        font-size: 1.5rem;
    }

    .ride_card {
        padding: 0.8rem;
    }

    .ride_details{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* Users Page */
/* General Styles */
.users_container {
    max-width: 1200px;
    margin: 2rem auto;
    margin-bottom: 10%;
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.users_title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #e5be5c;
    margin-bottom: 1.5rem;
}

/* Table Styles */
.table_container {
    overflow-x: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

.users_table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    font-size: 1.3rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.users_table thead {
    background: #e5be5c;
    color: #F4F4F4;
}

.users_table th, .users_table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.users_table tbody tr:hover {
    background: #f5f5f5;
}

.route-section h2{
    font-size: 35px;
}

.route-section h3{
    font-size: 30px;
    margin: 1%;
    text-align: left !important;
    text-decoration: underline;
}

.rides_table {
    width: 80%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    font-size: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.rides_table thead {
    background: #e5be5c;
    color: #F4F4F4;
    border: 2px solid #e5be5c;
}

.rides_table th, .rides_table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.rides_table tbody tr:hover {
    background: #f5f5f5;
}



/* Pagination */
.pagination_container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

/* Error Message */
.error-message {
    color: red;
    text-align: center;
    font-size: 1.2rem;
}

.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    color: #e5be5c;
    margin-bottom: 20px;
    font-size: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.recaptcha{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    margin-top: 20px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5be5c;
    border-radius: 5px;
    font-size: 20px;
}

.login-form button {
    background: #e5be5c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.login-form button:hover {
    background: #d1a949;
}

.login-form button:disabled {
    background: gray;
    cursor: not-allowed;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Home Page */
.home_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(./assets/skyline.jpg);
}

.home_info img{
    width: 60%;
    border-radius: 10px;
    height: 500px;
}

.home_info span{
    color: #e5be5c;
    font-size: 70px;
    text-decoration: underline;
}

.home_info h1{
    font-size: 100px;
    color: #F4F4F4;
    background: rgba(229, 190, 92, .9);
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 3%;
}

.home_link{
    color: #F4F4F4;
    text-decoration: none;
    font-size: 40px;
    border: 2px solid #e5be5c;
    padding: 15px 60px;
    border-radius: 5px;
    transition: .5s ease-in-out;
}

.home_link:hover{
    background: #e5be5c;
    color: #F4F4F4;
    transform: scale(1.03);
}

/* Responsive Design */
@media (max-width: 768px) {
    .users_title {
        font-size: 1.5rem;
    }

    .users_table th, .users_table td {
        padding: 8px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .users_title {
        font-size: 1.3rem;
    }

    .users_table th, .users_table td {
        padding: 6px;
        font-size: 0.85rem;
    }
}











@media screen and (max-width: 600px) {
    .footer_link{
      font-size: 1vh !important;
    }
    .footer-bottom p{
      font-size: 1.1vh !important;
    }
}







